[Desktop Entry]
Version=1.0
Type=Link
Name=WINEdows Forum
Comment=Get support, new patches and view tutorials for WINEdows
Icon=help-browser
URL=https://kippykip.com/index.php?forums/winedows-linux-distribution.69/
