[Desktop Entry]
Version=1.0
Type=Application
Name=My Music
Comment=View your music directory
Icon=folder-music-open
Exec=thunar Music
Path=
Terminal=false
StartupNotify=true
