[Desktop Entry]
Name=3D Pinball: Space Cadet
Exec=3dpinball
Icon=3dpinball
Type=Application
Comment=3D Pinball for WINEdows
Categories=Game;
Keywords=3d;pinball;windows;winedows;arcade;tabletop
