[Desktop Entry]
Name=Clonezilla
GenericName=Drive Cloner
X-GNOME-FullName=Clonezilla
Comment=Clone, image, and data recovery tool
Exec=sudo /usr/sbin/clonezilla
Icon=drive-harddisk
Terminal=false
Type=Application
Categories=GNOME;System;Filesystem;
Keywords=Partition;
Keywords[ar]=قسم;
Keywords[be]=Раздзел;
Keywords[bs]=particija;
Keywords[ca]=Partició:
Keywords[cs]=oddíl;disk;
Keywords[da]=Partition;
Keywords[de]=Partition;
Keywords[el]=Κατάτμηση;Partition;
Keywords[en_GB]=Partition;
Keywords[eo]=Subdisko;
Keywords[es]=Partición;
Keywords[eu]=Partizioa;
Keywords[fi]=Osio;
Keywords[fr]=Partition;
Keywords[fur]=Partizion;
Keywords[gd]=Partition;Pàirteachadh;Pàirtich;
Keywords[hr]=Particija;
Keywords[hu]=Partíció;
Keywords[id]=Partisi;
Keywords[is]=Disksneið;
Keywords[it]=Partizione;
Keywords[kk]=Бөлім;
Keywords[ko]=Partition;파티션;분할;영역;
Keywords[lt]=Skaidinys;
Keywords[lv]=Nodalījums;
Keywords[nb]=Partisjon;
Keywords[nl]=Partition;Partitie;
Keywords[oc]=Particion ;
Keywords[pa]=ਪਾਰਟੀਸ਼ਨ;
Keywords[pl]=Partycja;Partycje;Patrycja;Patrycje;Partycjonowanie;Patrycjonowanie;Dyski;twarde;twardy;HDD;SSD;Systemy;plików;Woluminy;Wolumeny;Napędy;
Keywords[pt]=Partição;
Keywords[pt_BR]=Partição;Partition;
Keywords[ro]=Partiție;
Keywords[ru]=Раздел;
Keywords[sk]=Oddiel;
Keywords[sl]=Razdelek;
Keywords[sr]=партиција;
Keywords[sr@latin]=particija;
Keywords[sv]=Partition;
Keywords[th]=พาร์ทิชัน;
Keywords[tr]=Bölüm;
Keywords[uk]=Розділ;
Keywords[vi]=Partition;Phân vùng;Phan vung;
Keywords[zh_CN]=分区;
Keywords[zh_TW]=分割區;
StartupNotify=true
Terminal=true
Name[en_AU]=Clonezilla
